@import "tailwindcss";
@import "lenis/dist/lenis.css";

@font-face {
  font-family: "Netflix Sans";
  src: url("/fonts/Netflix Sans Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("/fonts/Netflix Sans Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("/fonts/Netflix Sans Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-netflix-sans: "Netflix Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-cinzel: var(--font-cinzel);
  --font-baloo2: var(--font-baloo2);
  --font-netflix: var(--font-netflix-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-baloo2), Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

p {
  font-family: var(--font-baloo2);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0.04em;
}

h2 {
  font-family: var(--font-baloo2);
  font-weight: 500;
  font-size: 2.375rem;
  line-height: 112%;
  letter-spacing: 0.01em;
}

h3 {
  font-family: var(--font-baloo2);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 120%;
  letter-spacing: 0.07em;
}

@layer utilities {
  .quote {
    font-family: var(--font-cinzel);
    font-weight: 500;
    font-size: 3.125rem;
    line-height: 110%;
    letter-spacing: 0.07em;
  }
}
